body{
    font-family: 'Poppins', sans-serif;
}
.top-banner-div{
    margin-left: 10%;
}
.name-highlight{
    font-weight: 700;
    color: rgb(0, 94, 144);
    font-size: 50px;

}
.half-width img{
    width: 100%;
}
.half-width{
    width: 40%;
    padding: 1%;
    float: left;
}