body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
section{
    height: 750px;
}
.banner-div{
    margin-left: 15%;
    background-color: transparent;
}
.name-highlight{
    font-weight: 900;
    color: rgb(0, 94, 144);
    font-size: 50px;

}
.half-width img{
    width: 700px;
}
.half-width{
    width: 40%;
    padding-top: 5%;
    float: left;
}
.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(232, 108, 77), rgb(174, 33, 33));
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
}
#mid-banner-para{
    margin-top: 8%;
    margin-left: 20px;
}
.biography-banner{
    background-image: url("images/biography-bg.png");
}

.latest-work{
    background-image: url("images/latest-work-bg.png");
    text-align: center;
}
.latest-work-imgs{
    width: 27%;
    float: left;
    margin-left: 5%;
}

.footer-banner{
    background-image: url("images/footer-bg.png");
    text-align: center;
}

h4{
    font-weight: 300;
}

.email-id{
    width: 600px;
    border-radius: 10px;
    margin-left: 33%;
    margin-top: 5%;
    background-image: linear-gradient(45deg, rgb(230, 93, 51), rgba(202, 38, 57, 0.977));
    padding: 20px 30px;
}
.email-txt{
    color: white;
}
footer{
    text-align: center;
}